<div class="page-controls">
  <button routerLink="/">Back to Home</button>
</div>

<nav>
  <div class="button-container">
    <button (click)="changeMotive()">Motive</button>
    <button (click)="toggleTechnicCard()">Technic</button>
    <button (click)="toggleTimeCard()">Time</button>
    <button (click)="toggleMaterialCard()">Material</button>
  </div>
  <div *ngIf="showTimeCard" class="card" style="width: 200px">
    <h2>Time</h2>
    <div class="timer-display">
      <div class="timer">{{ displayTime }}</div>
      <!-- <div class="timer-status" *ngIf="isTimerRunning">Time remaining</div>
      <div class="timer-status" *ngIf="!isTimerRunning && timeRemaining === 0">
        Time's up!
      </div> -->
    </div>
  </div>
</nav>

<div class="card">
  @if (selectedMotive) {
  <img src="" alt="" />
  } @else {
  <div [style]="'height: 300px; width: 250px; backgroundColor: blue'"></div>
  }
</div>

<div *ngIf="showTechnicCard" class="card">
  <h2>Technic</h2>
  <p>Technic details here</p>
</div>

<div *ngIf="showMaterialCard" class="card">
  <h2>Material</h2>
  <p>Material details here</p>
</div>
